<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Historico de atividades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-list>
  <ion-item *ngFor="let dados of item">
<ion-label>{{dados.id}}</ion-label>
<ion-label>{{dados.Atividade}}</ion-label>
<ion-label>{{dados.Quantidade}}</ion-label>
 
<ion-button color="success" routerLink="/tab4">Editar</ion-button>
<ion-button (click)="onDelete(dados.id)" color="danger">Deletar</ion-button>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/tab3">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-item> 
</ion-list>
</ion-content>
